.container {
    margin: 0 auto;
    max-width: 100%;
    padding: 0 12px;

}

.main {
    display: flex;
    flex-direction: row;
}

.content {
    width: calc(100% - 100px);
    padding: 0 50px;
    border-right: 2px solid #676767;
    border-left: 2px solid #676767;
    height: calc(100vh - 110px);
}

@media (min-width: 768px) {
    .container {
        max-width: 100%;
        padding: 0 32px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding: 0 32px;
    }
}