.dashboardCards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 20px;
    width: 130px;
    height: 170px;
    background: #000;
    border-radius: 13px;
}