.photos {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 24px;
    width: 474px;
    padding: 10px 0;
}

.photoItem {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    text-align: center;
    border-radius: 13px;
    width: 100px;
    height: 100px;
    border: 1px dashed #676767;
}

.inputPhoto {
    display: none;
}

.photo {
    border: none;
}