.campaign {
    display: flex;
}

.info {
    max-width: 500px;
    margin-top: 10px;
    margin-left: 40px;
    line-break: anywhere;
}

.previewHeadline {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 20px;
}

.previewDescription {
    font-size: 16px;
    line-height: 1.8;
    color: #000000;
    margin-bottom: 20px;
}

.donate {
    margin-top: 20px;
}

.donateRow {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.donateRowKey {
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #676767;
    margin-right: 10px;
}
.donateRowValue {
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #484848;
}